{{ form_start(form) }}
   {% if course is not defined %}
       {{ form_widget(form) }}
   {% else %}
       <div class="form-group">
           {{ form_row(form.title, {'value' : merged_course.course.title}) }}
       </div>
       <div class="form-group">
           {{ form_row(form.description, {'value' : merged_course.course.description}) }}
       </div>
       <div class="form-group">
           {{ form_row(form.type, {'value' : merged_course.type}) }}
       </div>

       <div class="form-group">
           {% if merged_course.price is not defined %}
               {{ form_row(form.price, {'value' : 0.0}) }}
           {% else %}
               {{ form_row(form.price, {'value' : merged_course.price}) }}
           {% endif %}
       </div>
   {% endif %}
    <br>
    <button class="btn btn-success">{{ button_label|default('Сохранить') }}</button>
{{ form_end(form) }}
