{% extends 'base.html.twig' %}

{% block title %}Course index{% endblock %}

{% block body %}
    <h1>Список курсов</h1>

        <div class="row">
        {% for course in mergedCourses %}

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ course.course.title }}</h5>
                            <p class="card-text">{{ course.course.description }}</p>
                            {% if course.price > 0 %}
                            <p class="card-text">Цена курса: {{ course.price }}</p>
                            {% endif %}
                            <p class="card-text">Тип курса: {{ course.type }}</p>

                            <a href="{{ path('course_show', {'slug': course.course.slug}) }}" class="btn btn-primary">Перейти к курсу</a>
                        </div>
                    </div>
                </div>


        {% else %}
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Курсов не найдено</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        <br />
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <a href="{{ path('course_new') }}" class="btn btn-success">Добавить новый курс</a>
    {% endif %}
{% endblock %}
