{% extends 'base.html.twig' %}

{% block title %}Lesson{% endblock %}

{% block body %}
    {% if error_message %}
    <div class="alert alert-danger">
        {{ error_message }}
    </div>
    {% endif %}
    {% if not error_message  %}
    <h1>{{ lesson.title }}</h1>

    <p>Курс <a href="{{ path('course_show', {slug: lesson.lessonCourse.slug}) }}">{{course.title}}</a></p>

    <div class="card mt-3">
        <div class="card-body">
            {{ lesson.content }}
        </div>
    </div>
    {% endif %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <h1>{{ lesson.title }}</h1>

        <p>Курс <a href="{{ path('course_show', {slug: lesson.lessonCourse.slug}) }}">{{course.title}}</a></p>

        <div class="card mt-3">
            <div class="card-body">
                {{ lesson.content }}
            </div>
        </div>
        <div>
            <a class="btn btn-secondary" href="{{ path('lesson_edit', {'id': lesson.id}) }}">Редактировать</a>

            {{ include('lesson/_delete_form.html.twig') }}
        </div>
    {% endif %}
    {% endblock %}
